<%- include("template/header.ejs") %>


<body>
    <div id="game_grid">
        <div class="card">
            <img id="img1" class="front_face" src="/public/img/001.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
        <div class="card">
            <img id="img2" class="front_face" src="/public/img/002.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
        <div class="card">
            <img id="img3" class="front_face" src="/public/img/003.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
        <div class="card">
            <img id="img4" class="front_face" src="/public/img/001.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
        <div class="card">
            <img id="img5" class="front_face" src="/public/img/002.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
        <div class="card">
            <img id="img6" class="front_face" src="/public/img/003.png" alt="">
            <img class="back_face" src="/public/img/back.webp" alt="">
        </div>
    </div>

<%- include("template/footer.ejs") %>